@import "tailwindcss";

:root {
  --color-bg: #FBEC8C;
  --card-bg: #D1BB87;
  --text-primary: #7B5D4E;
}

html, body{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: var(--text-primary);
  background-color: var(--color-bg);
}

.text-roboto{
  font-family: "Roboto", sans-serif;
}

.text-light{
  color: #F3ECDC;
}

.text-purple-dark{
  color: #31154F;
}

.text-placeholder {
  color: #D1BB87;
}

.text-input{
  color: #7B5D4E;
}

.bg-input{
  background-color: #F3ECDC;
}

.bg-card {
  background-color: var(--card-bg);
}
