@import "tailwindcss";

:root {
  --color-bg: #FBEC8C;
  --card-bg: #D1BB87;
  --text-primary: #7B5D4E;
}

html, body{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amatic SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: var(--text-primary);
  background-color: var(--color-bg);
}

button:focus,
input:focus,
svg:focus {
  outline: none;
}

.noselect {
  user-select: none;
}

.text-roboto{
  font-family: "Roboto", sans-serif;
}

.text-light{
  color: #F3ECDC;
}

.text-purple-dark{
  color: #31154F;
}

.text-placeholder {
  color: #D1BB87;
}

.text-input{
  color: #7B5D4E;
}

.bg-input{
  background-color: #F3ECDC;
}

.bg-card {
  background-color: var(--card-bg);
}

.custom-button {
  box-sizing: border-box;
  border: 3px solid #000000;
  box-shadow: -5px 5px 0px #000000;
  border-radius: 30px;
  background: linear-gradient(122deg, #51277D 55.45%, #9247E3 108.83%);
  transition: 0.2s ease-in-out;
}

.custom-button:hover {
  box-shadow: -2px 2px 0px #000000;
  transform: translate(-2px, 2px);
}
